{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="container">
      <div class="jumbotron">
        <h2>{{ uploadMessage }}</h2>
{#          (this depends on the chosen urgency)#}
          <p><a href="{% url 'formatting' %}">Return to home</a></p>

      </div>
    </div>

    <hr>
{#     <a href="{{ output }}">Download</a>#}
    <form method="get" action="{{ output }}">
        {% buttons %}
        <button type="submit" class="btn btn-danger" href="{{ output }}">Download!</button>
      {% endbuttons %}
    </form>

      <footer>
        <p>&copy; 2017 Company, Inc.</p>
      </footer>
    </div>

{% endblock %}