{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="container">
      <div class="jumbotron">
        <p>Upload your thesis from popular formats like .doc, ,docx, .rtf to and from LaTex</p>
      </div>
    </div>

    <div class="container " >
      <form method="post"  enctype="multipart/form-data" class="form col-md-5">
          {% csrf_token %}
          {% bootstrap_form form %}

          <hr>
          {% buttons %}
          <button type="submit" class="btn btn-success" >Upload</button>
          {% endbuttons %}
      </form>

    </div>


{% endblock %}

