{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Tools for Thesis">
    <meta name="author" content="SLICE Inc.">
    <link rel="icon" href="../../favicon.ico">

    <title>Thesis Tools</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% load bootstrap3 %}
{#    {% bootstrap_css %}#}


  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="">~$</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'index' %}">~$</a>
            {% endif %}
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% if request.user.is_authenticated %}
                  <li><a href="{% url 'formatting' %}">{F}</a></li>
                  <li><a href="#">{D}</D></a></li>
                  <li><a href="#">{P}</a></li>
              {% endif %}

          </ul>
          <ul class="nav navbar-nav navbar-right">

          {% if request.user.is_authenticated %}
            <li><a href="{% url 'userena_signout' %}">Sign Out</a></li>
          {% else %}
            <li><a href="{% url 'userena_signin' %}">Sign In</a></li>
            <li><a href="{% url 'userena_signup' %}">Register</a></li>
          {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}
    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'js/lib/jquery-3.1.1.min.js' %} "></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/lib/jquery-3.1.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
